.WrapperContainer {
    width: 1400px;
    /* background-color: silver; */
    height: 100%;
    align-content: center;
}

.LeftContainer {
    width: 500px;
    float: left;
    /* background-color: sandybrown; */
}

.RightContainer {
    width: 900px;
    float: right;
    /* background-color: salmon; */
}

.Selectcontainer {
    width: 400px;
    margin-left: 70px;
}

